.loginContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F5F4F6 0% 0% no-repeat padding-box;
}

.loginForm{
    /* max-width: 30em; */
    display: flex;
    flex-direction: column;
}


#loginUser{
    padding-left: 1em;
    margin: 10px 0px;
    height: 2em;
    padding-left: 50px;
    border: none;
    border-bottom: solid black 1px; 
    border-radius: 2px;
    opacity: 1;
    background: transparent url('../../assets/img/Icon-User-2px.png') 10px 50%/20px 20px no-repeat padding-box;
}

#loginPassword{
    border: none;
    margin: 10px 0px;
    height: 2em;
    padding-left: 50px;
    border-bottom: solid black 1px; 
    border-radius: 2px;
    opacity: 1;
    background: transparent url('../../assets/img/Icon-Key-2px.png') 10px 50%/20px 20px no-repeat padding-box;
}

#submitButton{
    height: 2em;
    float: right;
    border:0;
    margin: 10px 0px 0px 0px;
    text-align: center;
    font: Semibold 18px/24px Source Sans Pro;
    letter-spacing: 0.36px;
    color: #FFF;
    background: #0DCB7D 0% 0% no-repeat padding-box;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;

}

#submitButton:hover{
    background: #10B26C 0% 0% no-repeat padding-box;
}

#cadastrarButton{
    height: 2em;
    float: right;
    border:0;
    margin: 10px 0px 0px 0px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #FFF;
    background: #365DF0  0% 0% no-repeat padding-box;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;

}

#cadastrarButton:hover{
    background: #2F55CC  0% 0% no-repeat padding-box;
}

.loginContainer h1{
    letter-spacing: 0.84px;
    color: #170C3A;
    opacity: 1;
    margin-bottom: 20px;
}

.loginContainer h3{
    letter-spacing: 0.6px;
    color: #170C3A;
    opacity: 1;
    margin-bottom: 20px;
}

.errorDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorLogin{
    color: red;
}