.toolForm{
    display: flex;
    flex-direction: column;
}
.toolForm .inputField{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.toolForm #submitButton{
    border: 0;
    margin-top: 10px;
    margin-right: 10px;
    background: #0DCB7D 0% 0% no-repeat padding-box;
    border-radius: 5px;
    text-align: center;
    font: Semibold 18px/24px Source Sans Pro;
    letter-spacing: 0.36px;
    color: #FFFFFF;
    padding: 0px 20px;
    opacity: 1;
}
.toolForm #submitButton:hover{
    background: #10B26C 0% 0% no-repeat padding-box;
    cursor: pointer;
}

.toolForm .inputField input[type=text]{
    height: 2em;
}

.toolForm .inputField textarea{
    height: 10em;
}

.toolForm .inputField label{
    color: #000;
    margin-bottom: 5px;
}

.submitButtonClass{
    display: flex;
    justify-content: flex-end;
}